/* VARIABLES */

:root {
  --bglineg-color: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  --white-color: #fff;
  --bb-color: #30c88f;
  --text-color: #9597a5;
  --title-color: #2d314d;
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url("../fonts/public-sans-v13-latin-100.woff2") format('woff2'),
    url('../fonts/public-sans-v13-latin-100.woff') format('woff');
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/public-sans-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-regular.woff') format('woff');
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/public-sans-v13-latin-500.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-500.woff') format('woff');
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* MAIN CLASS */
.footer-box__link,
.footer-link-box__tiny {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: var(--white-color);
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* SITE HEADER START */
.site-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: var(--white-color);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box__btn {
  display: none;
  width: 24px;
  height: 11px;
  background-image: url("../images/toggler-hamburg.svg");
  background-color: transparent;
  border: none;
}

.header-nav {
  width: 331px;
}

.header-nav__list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}


.header-nav__item:not(:last-child) {
  margin-right: 30px;
}

.header-nav__item {
  position: relative;
  display: block;
  padding: 32px 0px;
}

.header-nav__link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--text-color);
  text-decoration: none;
}

.header-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 4px;
  background-image: var(--bglineg-color);
  pointer-events: none;
}

.header-nav__link:hover::after {
  display: block;
  color: var(--bglineg-color);
}

.request-link {
  display: inline-block;
  padding: 8px 36px 8px 33px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: var(--white-color);
  background: var(--bglineg-color);
  border-radius: 22px;
  text-decoration: none;
}

.request-link:hover {
  background-color: var(--white-color);
  border-radius: 22px;
  opacity: 0.4;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1025px) {
  .logo {
    margin-right: auto;
  }

  .header-nav {
    margin: 0px;
  }

  .request-link {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .site-header {
    padding: 22px 0px;
  }

  .site-header--open .header-box__btn {
    width: 18px;
    height: 18px;
    background-image: url("../images/toggler-close.svg");
  }

  .header-box__btn {
    display: block;
  }

  .site-header--open .header-nav {
    display: block;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    padding: 32px 0px;
    background-color: #fff;
    
  }

  .header-nav__list {
    display: block;
  }

  .header-nav__item {
    padding: 0px;
  }

  .header-nav__item:not(:last-child) {
    margin: 0px;
  }

  .header-nav__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .header-nav__link {
    padding: 0px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
  }
}

/* Site header end */

/* Site main start */

/* Section digital start */
.digital {
  position: relative;
  padding: 245px 0px 170px 0px;
  background-image: url("../images/hero-bg.svg");
  background-size: 1371px 1038px;
  background-position: calc(50% - -570px) calc(50% + -24px);
  background-repeat: no-repeat;
}

.digital-box {
  position: relative;
  width: 100%;
  max-width: 447px;
  margin-right: 20px;
}

.digital-box__title {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 100;
  letter-spacing: -1px;
  color: var(--title-color);
}

.digital-box__text {
  margin: 0px;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--text-color);
}

.digital-box__img {
  position: absolute;
  top: -291px;
  right: calc(50% + -266%);
  z-index: 1;
  width: 729px;
  height: 900px;
}

.digital-box__img-m {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .digital {
    position: relative;
    background-size: 1171px 838px;
    background-position: calc(50% - -540px) calc(50% + -50px);
  }

  .digital-box__img {
    position: absolute;
    top: -265px;
    right: calc(50% + -174%);
    z-index: 1;
    width: 529px;
    height: 700px;
  }

  .digital-box__title {
    font-size: 46px;
  }

  .digital-box__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .digital {
    position: relative;
    background-size: 1071px 738px;
    background-position: calc(50% - -540px) calc(50% + -74px);
  }

  .digital-box__img {
    position: absolute;
    top: -249px;
    right: calc(50% + -167%);
    z-index: 1;
    width: 429px;
    height: 600px;
  }
}

@media only screen and (max-width: 891px) {
  .digital {
    background-size: 1110px 919px;
  }

  .digital-box__img {
    top: -235px;
    width: 329px;
    height: 500px;
  }
}

@media only screen and (max-width: 790px) {
  .digital {
    padding: 110px 0px;
    background-size: 1033px 887px;
    background-position: calc(50% - -540px) calc(50% + 80px);
  }

  .digital-box {
    width: 276px;
  }

  .digital-box__title {
    font-size: 30px;
    line-height: 37px;
  }

  .digital-box__text {
    font-size: 15px;
    line-height: 20px;
  }

  .digital-box__img {
    top: -85px;
    right: calc(50% + -229%);
    width: 229px;
    height: 400px;
  }
}

@media only screen and (max-width: 580px) {
  .digital {
    background-image: none;
  }

  .digital-box {
    width: 100%;
    max-width: none;
  }

  .digital-box__title-box {
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    padding-top: 220px;
  }

  .digital-box__title {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  .digital-box__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  .digital-box__img {
    display: none;
  }

  .digital-box__img-m {
    position: absolute;
    top: -195px;
    left: -9px;
    display: block;
    width: 569px;
    height: 430px;
  }
}

/* Section digital end */

/* Section choose start */
.choose {
  padding: 96px 0px;
  background-color: #f4f5f7;
}

.choose-box {
  width: 635px;
  margin-bottom: 72px;
}

.choose-box__title {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 64px;
  font-weight: 100;
  letter-spacing: -0.714286px;
  color: var(--title-color);
}

.choose-box__text {
  margin: 0px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--text-color);
}

.choose-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.choose-list__item {
  position: relative;
  width: 255px;
}

.choose-list__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-image: url("../images/online.svg");
  background-repeat: no-repeat;
}

.choose-list__item:nth-child(2)::before {
  background-image: url("../images/simple.svg");
}

.choose-list__item:nth-child(3)::before {
  background-image: url("../images/fast.svg");
}

.choose-list__item:nth-child(4)::before {
  background-image: url("../images/open.svg");
}

.choose-list__title {
  margin: 0px;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  letter-spacing: -0.428571px;
  color: var(--title-color);
}

.choose-list__text {
  margin: 0px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--text-color);
}
@media only screen and (max-width: 1024px){
  .choose-box{
    width: 100%;
    max-width: 600px;
    margin-bottom: 184px;
  }
  .choose-list__item:not(:last-child){
    margin-right: 30px;
  }
  .choose-list__item::before{
    top: -110px;
  }
  .choose-list__title{
    font-size: 22px;
  }
  .choose-list__text{
    font-size: 14px;
  }
}
@media only screen and (max-width: 580px){
  .choose-box{
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    margin-bottom: 152px;
  }
  .choose-box__title{
    text-align: center;
  }
  .choose-box__text{
    text-align: center;
  }
  .choose-list{
    flex-direction: column;
  }
  .choose-list__item{
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    margin-bottom: 152px;
  }
  .choose-list__item::before{
    top: -92px;
    left: 130px;
  }
  .choose-list{
    text-align: center;
  }
  .choose-list__text{
    text-align: center;
  }
}
/* SECTION CHOOSE END */

/* SECTION ARTICLES START */
.articles {
  display: none;
  padding: 80px 0px;
  background-color: #f2f2f2;
}

.articles-box__title {
  margin: 0px;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 64px;
  font-weight: 100;
  letter-spacing: -0.714286px;
  color: var(--title-color);
}

.articles-box__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.articles-box__item {
  width: 255px;
  padding-bottom: 24px;
  background-color: var(--white-color);
  border-radius: 5px;
}

.articles-box__item::before {
  content: "";
  display: block;
  width: 255px;
  height: 200px;
  background-image: url("../images/receive.png");
}

.articles-box__item:nth-child(2)::before {
  background-image: url("../images/treat.png");
}

.articles-box__item:nth-child(3)::before {
  background-image: url("../images/take.png");
}

.articles-box__item:nth-child(4)::before {
  background-image: url("../images/our.png");
}

.articles-box__list-box {
  width: 207px;
  margin: 24px 24px 0px 24px;
}

.articles-box__tiny {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: var(--text-color);
}

.articles-box__caption {
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: -0.285714px;
  color: var(--title-color);
}

.articles-box__caption:hover {
  color: var(--bb-color);
  cursor: pointer;
}

.articles-box__text {
  margin: 0px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: var(--text-color);
}

/* SECTION ARTICLES END */
/* SITE MAIN END */

/* Site footer start */
.footer-box-primary {
  display: none;
  display: flex;
  align-items: flex-start;
}

.site-footer {
  display: none;
  padding: 48px 0px;
  background-color: var(--title-color);
}

.footer-box {
  width: 154px;
  margin-right: 131px;
}

.footer-box__logo-link {
  display: inline-block;
  margin-bottom: 55px;
}

.footer-box__icon-list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer-box__icon-item:not(:last-child) {
  margin-right: 13px;
}

.footer-box__icon-link {
  color: var(--white-color);
}

.footer-box__icon:hover {
  color: var(--bb-color);
}

.footer-list-box {
  display: flex;
}

.footer-list {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer-list:first-child {
  margin-right: 30px;
}

.footer-list__item {
  width: 163px;
  margin-bottom: 8px;
}

.footer-list__link {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: var(--white-color);
  text-decoration: none;
}

.footer-list__link:hover {
  color: var(--bb-color);
}

.footer-link-box {
  display: block;
  width: 220px;
  margin-left: auto;
}

.footer-link-box__link-box {
  width: 163px;
  margin-left: auto;
  background-color: var(--white-color);
  border-radius: 22px;
}

.request-link--footer {
  padding: 8px 36px 8px 33px;
}

.footer-link-box__tiny {
  margin-top: 24px;
  opacity: 0.5;
}

/* Site footer end */